{% extends "interface/new_header.html" %}
{% block page_title %}Add Timeline{% endblock %}
{% block content %}
    {% load static %}
    <script src="{% static 'interface/js/timelines.js' %}"></script>
    <script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'interface/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script>var all_contents = "{{all_contents}}";</script>
    <script>var table_contents = "{{table_contents}}";</script>
    <link href="{% static 'interface/css/my.css' %}" rel="stylesheet">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <label for="timeline_dropdown"></label>
            <select id="timeline_dropdown" name="timeline_dropdown">
                <option selected value="">Choose...</option>

            </select>
            <input type="button" value="Add" onclick="addContent()"/>

            <label for="add_table"></label>
            <table class="table table-striped table-sm" id="add_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Author</th>
                    <th>Creation date</th>
                    <th>Last modified</th>
                    <th>Duration (seconds)</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>

            </table>

            <button class="btn btn-primary" type="submit">Add timeline</button>
        </form>
    </main>

{% endblock %}






