{% extends "interface/new_header.html" %}
{% block page_title %}Users{% endblock %}
{% block content %}
    <main role="main" class="col-12 pt-3 px-4">
        <div class="card">
            <div class="card-header text-right">
                <a class="btn btn-secondary my-2 my-sm-0" href="{% url 'add_user' %}">Add User</a>
            </div>
            <div class="card-body p-0">
                <div class="table-responsive">
                    <table class="table">
                        <thead class="mdl-color--blue-grey-100">
                        <tr>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Contents permission</th>
                            <th>Timelines permission</th>
                            <th>Views permission</th>
                            <th></th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for user in users_list %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.contents }}</td>
                                <td>{{ user.timelines }}</td>
                                <td>{{ user.views }}</td>
                                <td><a href="{% url 'edit_user' pk=user.pk %}">
                                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">edit</i>
                                </a></td>
                                <td><a href="{% url 'delete_user' pk=user.pk %}">
                                    <i class="mdl-color-text--blue-grey-400 material-icons" role="presentation">delete</i>
                                </a></td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </main>

{% endblock %}