{% extends "interface/new_header.html" %}
{% block page_title %}Edit View{% endblock %}
{% block content %}
    {% load static %}
    <script src="{% static 'interface/js/views.js' %}"></script>
    <script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'interface/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <script>var table_timelines= "{{table_timelines}}";</script>
    <script>var all_timelines= "{{all_timelines}}";</script>
    <link href="{% static 'interface/css/my.css' %}" rel="stylesheet">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">

        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}

            <label for="view_dropdown"></label>
            <select id="view_dropdown" name="view_dropdown">
                <option selected value="">Choose...</option>
            </select>
            <input type="button" value="Add" onclick="addTimeline()"/>

            <table class="table table-striped table-sm" id="add_table">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Duration</th>
                    <th>Creator</th>
                    <th>Contents</th>
                    <th>Creation date</th>
                    <th>Last modified</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>

                </tbody>
            </table>
            <input type="hidden" class="form-control" id="timelines" name="timelines" value="">

            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </main>

{% endblock %}