{% extends "interface/new_header.html" %}
{% block page_title %}View Info{% endblock %}
{% block content %}
    {% load static %}
    <script src="{% static 'interface/js/views.js' %}"></script>
    <script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'interface/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link href="{% static 'interface/css/my.css' %}" rel="stylesheet">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">
        <div class="row">
            <div class="col-2 text-right"><strong>Display time (sec):</strong></div>
            <div class="col-auto">{{info.display_time}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-right"><strong>Attention time (sec):</strong></div>
            <div class="col-auto">{{info.attention_time}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-right"><strong>Attention time (%):</strong></div>
            <div class="col-auto">{{info.attention_percentage}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-right"><strong>Average attention coefficient:</strong></div>
            <div class="col-auto">{{info.average_attention_coefficient}}</div>
        </div>
        <div class="row mt-2">
            <div class="col-2 text-right"><strong>Number of recognized people:</strong></div>
            <div class="col-auto">{{info.number_of_recognitions}}</div>
        </div>
    </main>

{% endblock %}