{% extends "interface/new_header.html" %}
{% block page_title %}View Info{% endblock %}
{% block content %}
{% load static %}
<script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'interface/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<link href="{% static 'interface/css/my.css' %}" rel="stylesheet">

<main role="main" class="col-12 pt-3 px-4">
    <div class="card">
        <div class="card-header">
            <div class="float-left"><h2>{{info.view.name}}</h2></div>
            <div class="float-right"><a class="btn btn-secondary" href="{% url 'edit_view' pk=info.view.pk %}">Edit</a></div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-md-3 text-md-right"><strong>Timelines</strong></div>
                <div class="col-md-auto">
                    <ul>
                    {% for timeline in info.view.timelines %}
                        <li>
                            <h4><a href="{% url 'info_timeline' pk=timeline.pk %}">{{timeline.name}}</a></h4>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3 text-md-right"><strong>Display Time</strong></div>
                <div class="col-md-auto">{{info.display_time}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"><strong>Attention Time</strong></div>
                <div class="col-md-auto">{{info.attention_time}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"><strong>Attention Time (%)</strong></div>
                <div class="col-md-auto">{{info.attention_percentage}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"><strong>Average Attention</strong></div>
                <div class="col-md-auto">{{info.average_attention}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"><strong>Cumulative Attention</strong></div>
                <div class="col-md-auto">{{info.cumulative_attention}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"><strong>Number of Recognized People</strong></div>
                <div class="col-md-auto">{{info.number_of_recognitions}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"><strong>Number of Captured Frames</strong></div>
                <div class="col-md-auto">{{info.number_of_frames}}</div>
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"></div>
                {% if info.attention_chart != '' %}
                <div class="col-md-auto chart-overflow">
                    <img src="{{info.attention_chart}}">
                </div>
                {% else %}
                <div class="col-md-auto">-</div>
                {% endif %}
            </div>
            <div class="row mt-2">
                <div class="col-md-3 text-md-right"></div>
                {% if info.emotions_chart != '' %}
                <div class="col-md-auto chart-overflow">
                    <img src="{{info.emotions_chart}}">
                </div>
                {% else %}
                <div class="col-md-auto">-md-</div>
                {% endif %}
            </div>
        </div>
    </div>
</main>
{% endblock %}