{% extends "interface/new_header.html" %}
{% block page_title %}Add Content{% endblock %}
{% block content %}
{% load static %}
<script src="{% static 'interface/js/contents.js' %}"></script>
<script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'interface/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
<link href="{% static 'interface/css/my.css' %}" rel="stylesheet">

<main role="main" class="col-12 pt-3 px-4">
    <div class="card">
        <form method="post" enctype="multipart/form-data">
            <div class="card-body px-0 pb-0">
                {% csrf_token %}
                <div class="row mx-1">
                    <div class="col-md-3 text-md-right">
                        Name
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" id="name" name="name" placeholder="Content name"
                                   value="{{ content.name }}" required>
                    </div>
                </div>
                <div class="row mx-1 my-3 text-center">
                    <div class="col-md-3 text-md-right">
                        <label for="file">Upload File</label>
                    </div>
                    <div class="col-md-3">
                        <div class="files">
                            <input type="file" class="form-control" id="file" name="file" placeholder="File"
                                   value="empty">
                        </div>
                    </div>
                </div>
                <!-- <div id="preview_row" class="row mx-1 my-3 text-center" style="display: none">
                    <div class="col-3 text-right">
                        <label for="file">Preview</label>
                    </div>
                    <div id="preview_div" class="col-3">
                    </div>
                </div> -->
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}