{% extends "interface/new_header.html" %}
{% block page_title %}Add Content{% endblock %}
{% block content %}
    {% load static %}
    <script src="{% static 'interface/js/contents.js' %}"></script>
    <script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'interface/js/jquery-ui-1.12.1/jquery-ui.min.js' %}"></script>
    <link href="{% static 'interface/css/my.css' %}" rel="stylesheet">

    <main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="name">Content name</label>
                    <input type="text" class="form-control" id="name" name="name" placeholder="Content name"
                           value="{{ content.name }}" required>
                </div>
            </div>
            <div class="form-row">
                <div class="col-md-4 mb-3">
                    <label for="file">Upload file
                        <input type="file" class="form-control" id="file" name="file" placeholder="File" required>
                    </label>
                </div>
                <img id="output_image" class="preview"/>
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
        </form>
    </main>

{% endblock %}