{% load static %}

<script src="//netdna.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
<script src="{% static 'interface/js/jquery-3.3.1.min.js' %}"></script>

<link href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
<link href="{% static 'interface/css/login.css' %}" rel="stylesheet">

<form method="post">
    {% csrf_token %}
    <div class="container" style="width: 100%;">
        <div class="row">
            <div class="col-md-4 col"></div>
            <div class="col-md-4 col">
                <div class="form-login text-center">
                    <h4>Welcome!</h4>
                    <input type="text" class="form-control chat-input" placeholder="username"
                           name="username"/>
                    </br>
                    <input type="password" class="form-control chat-input"
                           placeholder="password" name="password"/>
                    </br>
                    <button type="submit" class="btn btn-primary">login <i class="fa fa-sign-in"></i></button>
                </div>
            </div>
            <div class="col-md-4 col"></div>
        </div>
    </div>
</form>



