{% extends "interface/new_header.html" %}
{% block page_title %}Content Permissions{% endblock %}
{% block content %}
<main role="main" class="col-md-9 ml-sm-auto col-lg-12 pt-3 px-4">
    <div class="card">
        <form method="post">
            <div class="card-header">
                <h2>{{content.name}}</h2>
            </div>
            <div class="card-body p-0">
                {% csrf_token %}
                <div class="table-responsive">
                    <table class="table">
                        <thead class="mdl-color--blue-grey-100">
                            <tr>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Content permission</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for user in users_list %}
                            <tr>
                                <td>{{ user.first_name }} {{ user.last_name }}</td>
                                <td>{{ user.email }}</td>
                                <td>
                                    <input type="checkbox" id="user{{ user.pk }}" name="permissions" value="{{ user.pk }}">
                                    <script>
                                        $('#user{{ user.pk }}').prop("checked", "{{ user.permission }}" === "True");
                                    </script>
                                </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="card-footer text-right">
                <button class="btn btn-secondary" type="submit">Submit</button>
            </div>
        </form>
    </div>
</main>
{% endblock %}